.main{
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: -9;
}
.collection{
    /* margin-top: 8%; */
    /* margin-left: 15%; */

}
.propic{
    margin-top: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
}

.card{
    display: flex;
    flex-direction: row;
}

.listcard{
    margin-top: 20px;
}



.line-vertical {
    width: 2px; /* line-width */
    height: 75px; /* line length */
    margin-left: 20px;
    margin-top: 35px;
    float: left;
}


arrow-up:after,
.arrow-down:before,
.arrow-left:after,
.arrow-right:before {
    content: "";
    position: absolute;
    width: 0px;
    height: 0px;
    border: 5px solid transparent;
}

/* vertical arrows */
.arrow-up:after,
.arrow-down:before {
    left: -4px;
}
.arrow-up:after {
    top: -15px;
    border-bottom: 15px solid #aaa;
}
.arrow-down:before {
    bottom: -15px;
    border-top: 15px solid #aaa;
}

/* horizontal arrows */
.arrow-left:after,
.arrow-right:before {
    top: -4px;
}
.arrow-left:after {
    left: -15px;
    border-right: 15px solid #aaa;
}
.arrow-right:before {
    right: -15px;
    border-left: 15px solid #aaa;
}